.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 93px;
    padding: 0;
  }

  & a {
    padding: 32px 0;
    display: block;
  }

  & .active {
    position: relative;
    font-weight: 700;
    color: var(--accent-color);
    
    &::after {
      position: absolute;
      width: 100%;
      display: block;
      content: '';
      border-radius: 2px;
      border: 2px solid var(--accent-color);
      background-color: var(--accent-color);
      bottom: 0;
  }

  
}

.nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);

  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
