:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-site-color: #2196f3;
  --contacts-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-text-color: #757575;
  --button-bg-color: #f5f4fa;
  --section-team-color: #f5f4fa;
}
